<div style="padding: 1em">
    <div layout="row" layout-margin layout-align="top">
        <md-icon flex="5" md-svg-src="resources/icons/ic_search.svg"></md-icon>
        <input ng-model="filter" ng-change="onFilterChange()" flex="70" placeholder="Buscar" class="search-input" id="search" type="text">
        <label style="color:#27a340; margin-top: 2.3em">AGREGAR</label>
        <md-button ng-click="go('/manage/'+routeType+'/new')" style="margin-top: 2em !important;" class="md-fab md-mini md-primary" aria-label="agregar">
            <md-icon md-svg-src="resources/icons/ic_add.svg"></md-icon>
        </md-button>
    </div>

    <div layout="row" layout-margin layout-align="center" ng-show="routeType == 'route'">
        <md-checkbox flex="30" class="md-primary" ng-change="page = 1" ng-init="checkType1 = true" ng-model="checkType1" aria-label="Checkbox 1">
            Autobús
        </md-checkbox>
        <md-checkbox flex="30" class="md-primary" ng-change="page = 1" ng-init="checkType2 = true" ng-model="checkType2" aria-label="Checkbox 1">
            TuzoBús Alimentadora
        </md-checkbox>
        <md-checkbox flex="30" class="md-primary" ng-change="page = 1" ng-init="checkType3 = true" ng-model="checkType3" aria-label="Checkbox 1">
            TuzoBús Truncal
        </md-checkbox>
    </div>
    <br>
    <div layout="row" layout-margin layout-align="end">
        <md-input-container>
            <label>Filas</label>
            <md-select ng-model="limit">
                <md-option value="5">5</md-option>
                <md-option value="10">10</md-option>
                <md-option value="15">15</md-option>
            </md-select>
        </md-input-container>
        <md-button ng-click="prevPage()" style="color:#27a340">
            <md-icon style="transform: rotate(270deg); color:#27a340" md-svg-src="md-toggle-arrow"></md-icon>
            <label>Atrás</label>
        </md-button>
        <md-input-container>
            <label>Página</label>
            <md-select ng-model="page">
                <md-option ng-repeat="page in getPages()" ng-value="page">{{page}}</md-option>
            </md-select>
        </md-input-container>
        <md-button ng-click="nextPage()" style="color:#27a340">
            <label>Siguiente</label>
            <md-icon style="transform: rotate(90deg);color:#27a340" md-svg-src="md-toggle-arrow"></md-icon>
        </md-button>

    </div>

    <table class="routes-table">
        <thead>
        <tr>
            <td ng-click="order('name')" style="width: 15%">NOMBRE<span><md-icon ng-style="predicate == 'name'?{'visibility':'visible'}:{'visibility':'hidden'}" ng-class="{invert:reverse}" class="sort-arrow" md-svg-src="md-toggle-arrow"></md-icon></span>
            </td>
            <td ng-click="order('key')" style="width: 10%">CLAVE MNEMOTÉCNICA<span><md-icon ng-style="predicate == 'key'?{'visibility':'visible'}:{'visibility':'hidden'}" ng-class="{invert:reverse}" class="sort-arrow" md-svg-src="md-toggle-arrow"></md-icon></span>
            </td>
            <td ng-click="order('schedule')" >ITINERARIO<span><md-icon ng-style="predicate == 'schedule'?{'visibility':'visible'}:{'visibility':'hidden'}" ng-class="{invert:reverse}" class="sort-arrow" md-svg-src="md-toggle-arrow"></md-icon></span>
            </td>
            <td ng-click="order('link')" style="width: 15%">HIPERVÍNCULO GOOGLE MAPS<span><md-icon ng-style="predicate == 'link'?{'visibility':'visible'}:{'visibility':'hidden'}" ng-class="{invert:reverse}" class="sort-arrow" md-svg-src="md-toggle-arrow"></md-icon></span>
            </td>
            <td ng-if="routeType == 'route'" style="width: 15%">TIPO
            </td>
            <td ng-click="order('status')" style="width: 7%">ESTATUS<span><md-icon ng-style="predicate == 'status'?{'visibility':'visible'}:{'visibility':'hidden'}" ng-class="{invert:reverse}" class="sort-arrow" md-svg-src="md-toggle-arrow"></md-icon></span>
            </td>
            <td style="width: 7%">EDITAR
            </td>
        </tr>
        </thead>
        <tbody style="overflow: auto;height: 300px !important;">
        <tr ng-repeat="route in filtered = (routes |filter:filter |filter:isTypeChecked) |orderBy:predicate:reverse| limitTo: limit: (page - 1) * limit" ng-style="$even?{'background-color':'#f2f4f4'}:''">
            <td>{{route.name}}</td>
            <td>{{route.key}}</td>
            <td>{{route.itinerary}}</td>
            <td ><a style="text-overflow: ellipsis; width: 150px;display: inline-block; white-space: nowrap;overflow: hidden" href="{{route.link}}" target="_blank">{{route.link}}</a></td>
            <td ng-if="routeType == 'route'">{{getTypeString(route.concession_route.route_typeId)}}</td>
            <td>
                <md-checkbox  ng-model="check" ng-init="check = route.enabled" ng-change="enableRoute(route.key,check)" class="md-primary"></md-checkbox>
            </td>
            <td>
                <md-button style="min-width: 0">
                    <md-icon md-svg-src="resources/icons/ic_edit.svg" style="color:#27A340" ng-click="go('/manage/'+routeType+'/'+route.key)"></md-icon>
                </md-button>
            </td>
        </tr>
        </tbody>
    </table>
    <h3 style="text-align: center; margin-top: 2em" ng-if="filtered.length == 0">Sin resultados...</h3>

</div>