<md-card style="width: 50%;margin-left: 25%;margin-top: 10%;background-color: white">
    <md-input-container>
        <label>Contraseña Actual</label>
        <input type="password" ng-init="currentPass = ''" ng-model="currentPass">
    </md-input-container>

    <md-input-container>
        <label>Nueva Contraseña</label>
        <input type="password" ng-init="newPass = ''" ng-model="newPass">
    </md-input-container>

    <md-input-container>
        <label>Confirmar Contraseña</label>
        <input type="password" ng-init="newPass2 = ''" ng-model="newPass2">
    </md-input-container>
    <div layout="row" layout-align="center">
        <md-button ng-click="update()" ng-disabled="currentPass == '' || newPass == '' || newPass2 == '' || newPass != newPass2 " class="md-raised md-primary" style="width: 200px">Guardar</md-button>
    </div>
</md-card>