<md-dialog>
    <md-dialog-content class="md-dialog-content">
        <h2>{{isNew?"Agregar Tarifa":"Editar Tarifa"}}</h2>
        <form name="rateForm">
            <md-input-container >
                <label>A partir del km</label>
                <input ng-disabled="isDefault" type="number" step="any" min="0" ng-model="kms" required name="kms">
            </md-input-container>
            <md-input-container>
                <label>Tarifa</label>
                <input type="number" step="any" min="0" ng-model="rate" required name="rate">
            </md-input-container>
        </form>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-show="!isNew  && !isDefault" class="md-warn" ng-click="delete()">
            Eliminar
        </md-button>
        <span flex></span>
        <md-button class="md-primary" ng-click="cancel()">
            Cancelar
        </md-button>
        <md-button ng-if="isNew" ng-disabled="rateForm.$invalid" class="md-primary" ng-click="create()">
            Crear
        </md-button>
        <md-button ng-if="!isNew" ng-disabled="rateForm.$invalid" class="md-primary" ng-click="save()">
            Guardar
        </md-button>
    </md-dialog-actions>
</md-dialog>