<div layout="row" layout-margin layout-align="end" style="margin-right: 8.5em;margin-top: 1.5em">
    <label style="color:#27a340; margin-top: 2.3em">AGREGAR</label>
    <md-button ng-disabled="getUserLevel() < 20" ng-click="openRatesDialog()" style="margin-top: 2em !important;" class="md-fab md-mini md-primary"><md-icon md-svg-src="resources/icons/ic_add.svg"></md-icon></md-button>
</div>
<label style="margin-left: 15%" class="card-header">ASIGNAR TARIFA</label>
<br>
<br>
<table class="fees-table">
    <thead>
    <tr>
        <td>A PARTIR DE</td>
        <td>TARIFA</td>
        <td>EDITAR</td>
    </tr>
    </thead>
    <tbody style="overflow: auto;height: 300px !important;">
    <tr ng-repeat="rate in rates " ng-style="$even?{'background-color':'#f2f4f4'}:''">
        <td>{{rate.kms+" km"}}</td>
        <td>{{rate.rate | currency}}</td>
        <td>
            <md-button ng-disabled="getUserLevel() < 20" style="min-width: 0" ng-click="editRate(rate)">
                <md-icon md-svg-src="resources/icons/ic_edit.svg" style="color:#27A340" ></md-icon>
            </md-button>
        </td>
    </tr>
    </tbody>
</table>
