<div layout="row" layout-margin layout-align="top">
    <md-icon flex="5" md-svg-src="resources/icons/ic_search.svg"></md-icon>
    <input ng-model="filter" ng-change="onFilterChange()" flex="70" placeholder="Buscar" class="search-input" id="search" type="text">
    <label style="color:#27a340; margin-top: 2.3em">AGREGAR</label>
    <md-button ng-click="go('/add/private')" style="margin-top: 2em !important;" class="md-fab md-mini md-primary"><md-icon md-svg-src="resources/icons/ic_add.svg"></md-icon></md-button>
</div>

<br>
<div layout="row" layout-margin layout-align="end">
    <md-input-container>
        <label>Filas</label>
        <md-select ng-model="limit">
            <md-option value="5">5</md-option>
            <md-option value="10">10</md-option>
            <md-option value="15">15</md-option>
        </md-select>
    </md-input-container>
    <md-button ng-click="prevPage()" style="color:#27a340">
        <md-icon  style="transform: rotate(270deg); color:#27a340"  md-svg-src="md-toggle-arrow"></md-icon>
        <label>Atrás</label>
    </md-button>
    <md-input-container>
        <label>Página</label>
        <md-select ng-model="page">
            <md-option ng-repeat="page in getPages()" ng-value="page">{{page}}</md-option>
        </md-select>
    </md-input-container>
    <md-button ng-click="nextPage()" style="color:#27a340">
        <label>Siguiente</label>
        <md-icon  style="transform: rotate(90deg);color:#27a340" md-svg-src="md-toggle-arrow"></md-icon>
    </md-button>

</div>

<table class="routes-table">
    <thead>
    <tr>
        <td ng-click="order('key')">CLAVE MNEMOTÉCNICA<span><md-icon ng-style="predicate == 'key'?{'visibility':'visible'}:{'visibility':'hidden'}" ng-class="{invert:reverse}" class="sort-arrow" md-svg-src="md-toggle-arrow"></md-icon></span></td>
        <td ng-click="order('schedule')">ITINERARIO<span><md-icon ng-style="predicate == 'schedule'?{'visibility':'visible'}:{'visibility':'hidden'}" ng-class="{invert:reverse}" class="sort-arrow" md-svg-src="md-toggle-arrow"></md-icon></span></td>
        <td ng-click="order('link')">HIPERVÍNCULO GOOGLE MAPS<span><md-icon ng-style="predicate == 'link'?{'visibility':'visible'}:{'visibility':'hidden'}" ng-class="{invert:reverse}" class="sort-arrow" md-svg-src="md-toggle-arrow"></md-icon></span></td>
        <td ng-click="order('status')">STATUS<span><md-icon ng-style="predicate == 'status'?{'visibility':'visible'}:{'visibility':'hidden'}" ng-class="{invert:reverse}" class="sort-arrow" md-svg-src="md-toggle-arrow"></md-icon></span></td>
    </tr>
    </thead>
    <tbody style="overflow: auto;height: 300px !important;">
    <tr ng-repeat="route in filtered = (routes |filter:filter |filter:isTypeChecked) |orderBy:predicate:reverse| limitTo: limit: (page - 1) * limit" ng-style="$even?{'background-color':'#f2f4f4'}:''">
        <td>{{route.key}}</td>
        <td>{{route.schedule}}</td>
        <td>{{route.link}}</td>
        <td>{{route.status}}</td>
    </tr>
    </tbody>
</table>
<h3 style="text-align: center; margin-top: 2em" ng-if="filtered.length == 0">Sin resultados...</h3>

