<div layout="row" layout-align="end">
    <div layout="column">
        <md-button class="md-raised gray-btn">Cancelar</md-button>
    </div>
    <div layout="column" flex-offset="5">
        <md-button class="md-raised gray-btn">Guardar</md-button>
    </div>
</div>
<br>
<br>
<label class="card-header">DATOS DE IDENTIFICACION DE RUTA</label>
<md-card>
    <md-input-container>
        <label>Clave mnemotécnica</label>
        <input type="text" ng-model="route.key">
    </md-input-container>
    <md-input-container>
        <label>Itinerario</label>
        <input type="text" ng-model="route.itinerary">

    </md-input-container>
    <md-input-container>
        <label>Ubicación</label>
        <input type="text" ng-model="route.location">

    </md-input-container>


    <md-input-container>
        <label>Estado</label>
        <md-select ng-model="route.stateId">
            <md-option value="Jalisco">Jalisco</md-option>
            <md-option value="Pachuca">Pachuca</md-option>
            <md-option value="DF">DF</md-option>
        </md-select>
        <div class="md-errors-spacer"></div>
    </md-input-container>

    <md-input-container>
        <label>Minicipio</label>
        <md-select ng-model="route.municipalityId">
            <md-option value="Jalisco">Jalisco</md-option>
            <md-option value="Pachuca">Pachuca</md-option>
            <md-option value="DF">DF</md-option>
        </md-select>
        <div class="md-errors-spacer"></div>
    </md-input-container>

    <md-input-container>
        <label>Localidad</label>
        <md-select ng-model="route.localityId">
            <md-option value="Jalisco">Jalisco</md-option>
            <md-option value="Pachuca">Pachuca</md-option>
            <md-option value="DF">DF</md-option>
        </md-select>
        <div class="md-errors-spacer"></div>
    </md-input-container>


</md-card>
<br>
<br>
<label class="card-header">CARACTERÍSTICAS DE LA RUTA</label>
<md-card>
    <md-input-container>
        <label>Centro Generador</label>
        <input type="text" ng-model="route.private_route.generator">
    </md-input-container>

    <md-input-container>
        <label>Centro Atractor</label>
        <input type="text" ng-model="route.private_route.atractor">
    </md-input-container>

    <md-input-container>
        <label>Usuarios Beneficiados</label>
        <input type="text" ng-model="route.private_route.users_benefit">
    </md-input-container>

    <md-input-container>
        <label>Concesiones</label>
        <input type="text" ng-model="route.private_route.concessions">
    </md-input-container>

    <md-input-container>
        <label>Irregularidades</label>
        <input type="text" ng-model="route.private_route.irregulars">
    </md-input-container>


    <md-input-container>
        <label>Unidades Optimas para el servicio</label>
        <input type="text" ng-model="route.private_route.service_units">
    </md-input-container>
</md-card>
<br>
<br>
<label class="card-header">VEHÍCULO</label>
<md-card>
    <md-input-container>
        <label>Tipo de Vehículo</label>
        <md-select ng-model="route.vehicle_type">
            <md-option value="Jalisco">Camion</md-option>
            <md-option value="Pachuca">Troca</md-option>
            <md-option value="DF">Taxi</md-option>
        </md-select>
        <div class="md-errors-spacer"></div>
    </md-input-container>

    <md-input-container>
        <label>Antiguedad del Vehiculo Permitida</label>
        <input type="text" ng-model="route.vehicle_antiquity">
    </md-input-container>
</md-card>
<br>
<br>
<label class="card-header">ASIGNAR RUTA Y PARADAS</label>
<md-card>
    <md-input-container>
        <label>Hipervínculo Google Maps</label>
        <input type="text" ng-model="route.link">
    </md-input-container>
    <md-input-container>
        <label>Dimensionamiento</label>
        <input type="text" ng-model="route.sizing">
    </md-input-container>
</md-card>
<br>
<br>
<label class="card-header">TIEMPOS</label>
<md-card>
    <div layout="row">
        <div layout="column">
            <label>Horario:</label>
            <div layout="row" layout-align="center center">
                <md-input-container style="width: 100px">
                    <label>Inicio</label>
                    <input type="text" ng-model="route.schedule">
                </md-input-container>
                <label style="height: 3em;margin: 0 1em">-</label>
                <md-input-container style="width: 100px">
                    <label>Fin</label>
                    <input type="text" ng-model="route.schedule">
                </md-input-container>
            </div>
        </div>
        <div layout="column" flex-offset="30">
            <md-input-container style="margin-top: -.5em">
                <label>Frecuencia</label>
                <input type="text" ng-model="route.private_route.frequency">
            </md-input-container>
        </div>
    </div>
</md-card>
<br>
<br>
<label class="card-header">TARIFAS</label>
<md-card>
    <md-input-container>
        <label>Tarifa</label>
        <input type="text" ng-model="route.private_route.rate">
    </md-input-container>
</md-card>
<br>
<br>
<label class="card-header">IMAGEN CORPORATIVA</label>
<md-card>
    <div layout="row">
        <input style="display: none" id="file" type="file">
        <md-button style="width: 200px;height: 30px" ng-click="selectFile()" class="md-raised md-primary">Examinar</md-button>
        <span flex></span>
        <img id="preview" style="width:200px; height:200px"/>
    </div>
</md-card>

<br>
<br>
<label class="card-header">OBSERVACIONES</label>
<md-card>
    <md-input-container>
        <label>Observaciones</label>
        <input type="text" ng-model="route.notes">
    </md-input-container>
</md-card>
