<div layout="row" layout-margin layout-align="top">
    <md-icon flex="5" md-svg-src="resources/icons/ic_search.svg"></md-icon>
    <input ng-model="filter" ng-change="onFilterChange()" flex="70" placeholder="Buscar" class="search-input" id="search" type="text">
    <label style="color:#27a340; margin-top: 2.3em">AGREGAR</label>
    <md-button ng-disabled="getUserLevel() < 20" ng-click="createUser()" style="margin-top: 2em !important;" class="md-fab md-mini md-primary"><md-icon md-svg-src="resources/icons/ic_add.svg"></md-icon></md-button>
</div>
<table class="users-table">
    <thead>
    <tr>
        <td>USUARIO</td>
        <td>NOMBRE</td>
        <td>CORREO</td>
        <td>TIPO</td>
        <td>EDITAR</td>
    </tr>
    </thead>
    <tbody style="overflow: auto;height: 300px !important;">
    <tr ng-repeat="user in users |filter:filter" ng-style="$even?{'background-color':'#f2f4f4'}:''">
        <td>{{user.username}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{getLevelString(user.level)}}</td>
        <td>
            <md-button ng-disabled="getUserLevel() < 20" style="min-width: 0" ng-click="editUser(user)">
                <md-icon md-svg-src="resources/icons/ic_edit.svg" style="color:#27A340" ></md-icon>
            </md-button>
        </td>
    </tr>
    </tbody>
</table>

