.route-type-btn {
    margin-left: 1em;
    border: 0;
    border-radius: 5px;
    background: #cccccc;
    padding: 6px 16px;
    color: white;
    font-size: .9em;
    position: relative;
}

.route-type-btn:hover {
    background: #bbb;
}
.route-type-btn.selected {
    background: linear-gradient(to right ,#26a349,#016735);
}

md-card{
    margin-bottom: 3em !important;
}

.hint {
    /* Position the hint */
    position: absolute;
    left: 2px;
    right: auto;
    bottom: 7px;
    /* Copy styles from ng-messages */
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    /* Set our own color */
    color: grey; }
.hint.ng-hide,
.hint.ng-enter,
.hint.ng-leave.ng-leave-active {
    bottom: 26px;
    opacity: 0; }
.hint.ng-leave,
.hint.ng-enter.ng-enter-active {
    bottom: 7px;
    opacity: 1; }

.hint-error{
    position: absolute;
    left: 2px;
    right: auto;
    bottom: 7px;
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    color: grey;
}