<div layout="row" layout-align="end" style=" width: 100%; height: 90px;padding-right: 2em;padding-top: 2em">
    <div layout="column">
        <md-button ng-click="go('/routes/'+route.type)" class="md-raised gray-btn">Cancelar</md-button>
        <!--<md-button ng-click="test()" class="md-raised gray-btn">test</md-button>-->
    </div>
    <div layout="column" flex-offset="5">
        <md-button ng-click="saveRoute()" ng-disabled="!isFormValid()" class="md-raised gray-btn">Guardar</md-button>
    </div>
    <!--<div layout="column" flex-offset="5">-->
    <!--<md-button ng-click="saveRoute()"  class="md-raised gray-btn">Guardar</md-button>-->
    <!--</div>-->
</div>
<div style="overflow: auto;height: calc(100% - 90px);padding: 1em;box-sizing: border-box">
    <form name="routeForm">
        <div ng-if="routeTypeEquals('route')" layout="row" ng-init="route.concession_route.route_typeId = 1">
            <button md-ink-ripple ng-click="route.concession_route.route_typeId = 1" ng-class="route.concession_route.route_typeId==1? 'selected':''" class="route-type-btn md-whiteframe-2dp">
                <md-icon style="margin-right:.5em" md-svg-src="resources/icons/ic_bus.svg"></md-icon>
                Autobús
            </button>
            <button md-ink-ripple ng-click="route.concession_route.route_typeId = 2" ng-class="route.concession_route.route_typeId==2? 'selected':''" class="route-type-btn md-whiteframe-2dp">
                <md-icon style="margin-right:.5em" md-svg-src="resources/icons/ic_tuzobus_alimentadora.svg"></md-icon>
                Colector
            </button>
            <button md-ink-ripple ng-click="route.concession_route.route_typeId = 3" ng-class="route.concession_route.route_typeId==3? 'selected':''" class="route-type-btn md-whiteframe-2dp">
                <md-icon style="margin-right:.5em" md-svg-src="resources/icons/ic_tuzobus_truncal.svg"></md-icon>
                Tuzobús
            </button>
        </div>
        <br>
        <br>
        <label ng-if="routeTypeEquals('route')" class="card-header">DATOS DE IDENTIFICACIÓN DE RUTA</label>
        <label ng-if="routeTypeEquals('site')" class="card-header">DATOS DE IDENTIFICACIÓN DEL SITIO</label>
        <label ng-if="routeTypeEquals('private')" class="card-header">DATOS DE IDENTIFICACIÓN DE PRIVADO</label>
        <md-card>
            <div layout="row" layout-align="center">
                <div layout="column" flex="45">
                    <md-input-container>
                        <label>Nombre</label>
                        <input type="text" name="name" ng-model="route.name" required maxlength="20">
                        <div class="hint-error" ng-style="routeForm.name.$invalid && routeForm.name.$touched?{'color':'red'}:''">Obligatorio, máx. 20 caracteres</div>
                    </md-input-container>
                    <md-input-container >
                        <label>Clave mnemotécnica</label>
                        <input ng-disabled="!isNew" type="text" name="key" ng-model="route.key" required maxlength="20">
                        <div class="hint-error" ng-style="routeForm.key.$invalid && routeForm.key.$touched?{'color':'red'}:''">Obligatorio, máx. 20 caracteres</div>
                    </md-input-container>
                    <md-input-container>
                        <label>Ubicación</label>
                        <input type="text" ng-model="route.location">
                        <div class="hint-error">Opcional máx. 100 caracteres</div>
                    </md-input-container>
                </div>
                <div layout="column" flex="45" flex-offset="10">
                    <md-input-container>
                        <label>Estado</label>
                        <md-select ng-model="route.stateId" name="state" ng-init="route.stateId = 13" disabled ng-change="getLocalities(route.stateId)" required>
                            <md-option ng-repeat="state in states" value="{{state.id}}">{{state.name}}</md-option>
                        </md-select>
                        <div class="hint-error" ng-style="routeForm.state.$invalid && routeForm.state.$touched?{'color':'red'}:''">Obligatorio</div>
                        <div class="md-errors-spacer"></div>
                    </md-input-container>

                    <md-input-container>
                        <label>Municipio</label>
                        <md-select ng-model="route.municipalityId" ng-change="getLocalities(route.municipalityId)" name="municipality" required>
                            <md-option ng-repeat="municipality in municipalities" ng-if="municipality.stateId == route.stateId" value="{{municipality.id}}">{{municipality.name}}</md-option>
                        </md-select>
                        <div class="hint-error" ng-style="routeForm.municipality.$invalid && routeForm.municipality.$touched?{'color':'red'}:''">Obligatorio</div>
                        <div class="md-errors-spacer"></div>
                    </md-input-container>

                    <md-input-container>
                        <label>Localidad</label>
                        <md-select ng-model="route.localityId" name="locality" required="">
                            <md-option ng-repeat="localitiy in localities" ng-if="localitiy.stateId == route.stateId && localitiy.municipalityId == route.municipalityId" value="{{localitiy.id}}">{{localitiy.name}}</md-option>
                        </md-select>
                        <div class="hint-error" ng-style="routeForm.locality.$invalid && routeForm.locality.$touched?{'color':'red'}:''">Obligatorio</div>
                        <div class="md-errors-spacer"></div>
                    </md-input-container>
                </div>
            </div>
            <div layout="row">
                <md-input-container style="width: 100%">
                    <label>Itinerario</label>
                    <textarea rows="5" type="text" name="itinerary" ng-model="route.itinerary" required maxlength="400" md-maxlength="400"></textarea>
                    <div class="hint-error" ng-style="routeForm.itinerary.$invalid && routeForm.itinerary.$touched?{'color':'red'}:''">Obligatorio, máx. 400 caracteres</div>
                </md-input-container>
            </div>

            <div layout="row">
                <md-input-container style="width: 100%" ng-if="routeTypeEquals('site')">
                    <label>Descripción</label>
                    <textarea type="text" rows="3" ng-model="route.site.description" maxlength="100" md-maxlength="100"></textarea>
                    <div class="hint-error">Opcional, máx. 100 caracteres</div>
                </md-input-container>

                <md-input-container style="width: 100%" ng-if="routeTypeEquals('route')">
                    <label>Descripción</label>
                    <textarea type="text" rows="3" ng-model="route.concession_route.description" maxlength="100" md-maxlength="100"></textarea>
                    <div class="hint-error">Opcional, máx. 100 caracteres</div>
                </md-input-container>
                <md-input-container style="width: 100%" ng-if="routeTypeEquals('private')">
                    <label>Descripción</label>
                    <textarea type="text" rows="3" ng-model="route.private_route.description" maxlength="100" md-maxlength="100"></textarea>
                    <div class="hint-error">Opcional, máx. 100 caracteres</div>
                </md-input-container>
            </div>

        </md-card>
        <label ng-if="routeTypeEquals('route')" class="card-header">CARACTERÍSTICAS DE LA RUTA</label>
        <label ng-if="routeTypeEquals('site')" class="card-header">CARACTERÍSTICAS DEL SITIO</label>
        <label ng-if="routeTypeEquals('private')" class="card-header">CARACTERÍSTICAS DE PRIVADO</label>
        <md-card>

            <div ng-if="routeTypeEquals('route')">
                <div layout="row">
                    <div layout="column">
                        <md-input-container>
                            <label>Longitud</label>
                            <input type="text" ng-model="route.concession_route.length" required maxlength="100" name="length">
                            <div class="hint-error" ng-style="routeForm.length.$invalid && routeForm.length.$touched?{'color':'red'}:''">Obligatorio, máx. 100 caracteres</div>
                        </md-input-container>

                        <label style="margin-bottom: .5em">Terreno:</label>
                        <md-radio-group  ng-model="route.concession_route.ground" ng-change="groundChanged()">
                            <md-radio-button value="5" class="md-primary">Pavimento</md-radio-button>
                            <md-radio-button value="6" class="md-primary"> Terracería</md-radio-button>
                        </md-radio-group>

                    </div>
                    <div layout="column" flex-offset="25">
                        <md-input-container style="width: 200px">
                            <label>Tiempo de recorrido</label>
                            <input type="text"  ng-model="route.concession_route.duration" pattern="([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]" name="time" required maxlength="5">
                            <div class="hint-error" ng-style="routeForm.time.$invalid && routeForm.time.$touched?{'color':'red'}:''">Obligatorio, Formato 24 horas HH:MM</div>
                        </md-input-container>

                        <label style="margin-bottom: .5em">Tramo:</label>
                        <md-radio-group  ng-model="route.concession_route.road" ng-change="roadChanged()">
                            <md-radio-button value="7" class="md-primary">Estatal</md-radio-button>
                            <md-radio-button value=8 class="md-primary"> Federal</md-radio-button>
                        </md-radio-group>

                    </div>

                </div>

            </div>

            <div ng-if="routeTypeEquals('private')">
                <div layout="row" layout-align="center">
                    <div layout="column" flex="45">
                        <md-input-container>
                            <label>Centro Generador</label>
                            <input type="text" ng-model="route.private_route.generator" name="generator" required maxlength="100">
                            <div class="hint-error" ng-style="routeForm.generator.$invalid && routeForm.generator.$touched?{'color':'red'}:''">Obligatorio, máx. 100 caracteres</div>
                        </md-input-container>

                        <md-input-container>
                            <label>Centro Atractor</label>
                            <input type="text" ng-model="route.private_route.atractor" name="atractor" required maxlength="100">
                            <div class="hint-error" ng-style="routeForm.atractor.$invalid && routeForm.atractor.$touched?{'color':'red'}:''">Obligatorio, máx. 100 caracteres</div>
                        </md-input-container>

                        <md-input-container>
                            <label>Concesionadas</label>
                            <input type="text" ng-model="route.private_route.concessions" name="concessions" maxlength="100">
                            <div class="hint-error" ng-style="routeForm.concessions.$invalid && routeForm.concessions.$touched?{'color':'red'}:''">Opcional, máx. 100 caracteres</div>
                        </md-input-container>


                    </div>

                    <div layout="column" flex="45" flex-offset="10">

                        <!--<md-input-container>-->
                        <!--<label>Concesiones</label>-->
                        <!--<input type="text" ng-model="route.private_route.concessions">-->
                        <!--</md-input-container>-->

                        <md-input-container>
                            <label>Usuarios Beneficiados</label>
                            <input type="text" ng-model="route.private_route.users_benefit" name="users" required maxlength="100">
                            <div class="hint-error" ng-style="routeForm.users.$invalid && routeForm.users.$touched?{'color':'red'}:''">Obligatorio, máx. 100 caracteres</div>
                        </md-input-container>
                        <!--<md-input-container>-->
                        <!--<label>Irregulares</label>-->
                        <!--<input type="text" ng-model="route.private_route.irregulars" name="irregulars" required maxlength="100">-->
                        <!--<div class="hint-error" ng-style="routeForm.irregulars.$invalid && routeForm.irregulars.$touched?{'color':'red'}:''" >Obligatorio, máx. 100 caracteres</div>-->
                        <!--</md-input-container>-->


                        <md-checkbox class="md-primary" ng-model="route.private_route.irregulars" ng-init="route.private_route.irregulars = 'no'" ng-true-value="'si'" ng-false-value="'no'" style="margin-left: 0">Irregulares</md-checkbox>

                        <!--<md-input-container>-->
                        <!--<label>Unidades Optimas para el servicio</label>-->
                        <!--<input type="text" ng-model="route.private_route.service_units">-->
                        <!--</md-input-container>-->

                    </div>
                </div>
                <br>


                <!--<label>Unidades óptimas para el servicio</label>-->
                <!--<md-chips ng-init="service_units = []" md-require-match="true" ng-model="service_units" md-on-add="chipsChanged()">-->
                <!--<md-autocomplete-->
                <!--md-items="vehicle in vehicles"-->
                <!--md-item-text="vehicle.name"-->
                <!--placeholder="Buscar vehículos">-->
                <!--<span md-highlight-text="true">{{vehicle.name}}</span>-->
                <!--</md-autocomplete>-->
                <!--<md-chip-template>-->
                <!--<span>-->
                <!--<label>{{$chip.name}}</label>-->
                <!--</span>-->
                <!--</md-chip-template>-->
                <!--</md-chips>-->

            </div>
            <div ng-if="routeTypeEquals('site')">
                <div layout="row" layout-align="center">
                    <div layout="column" flex="45">
                        <md-input-container>
                            <label>Centro Generador</label>
                            <input type="text" ng-model="route.site.generator" name="generator" required maxlength="100">
                            <div class="hint-error" ng-style="routeForm.generator.$invalid && routeForm.generator.$touched?{'color':'red'}:''">Obligatorio, máx. 100 caracteres</div>
                        </md-input-container>

                        <md-input-container>
                            <label>Centro Atractor</label>
                            <input type="text" ng-model="route.site.atractor" name="atractor" required maxlength="100">
                            <div class="hint-error" ng-style="routeForm.atractor.$invalid && routeForm.atractor.$touched?{'color':'red'}:''">Obligatorio, máx. 100 caracteres</div>
                        </md-input-container>
                    </div>
                    <div layout="column" flex="45" flex-offset="10">
                        <md-input-container>
                            <label>Usuarios Beneficiados</label>
                            <input type="text" ng-model="route.site.users_benefit" required maxlength="100" name="users">
                            <div class="hint-error" ng-style="routeForm.users.$invalid && routeForm.users.$touched?{'color':'red'}:''">Obligatorio, máx. 100 caracteres</div>
                        </md-input-container>
                        <!--<md-input-container>-->
                        <!--<label>Irregulares</label>-->
                        <!--<input type="text" ng-model="route.site.irregulars" name="irregulars" required maxlength="100">-->
                        <!--<div class="hint-error" ng-style="routeForm.irregulars.$invalid && routeForm.irregulars.$touched?{'color':'red'}:''" >Obligatorio, máx. 100 caracteres</div>-->
                        <!--</md-input-container>-->
                        <md-checkbox class="md-primary" ng-model="route.site.irregulars" ng-init="route.site.irregulars = 'no'" ng-true-value="'si'" ng-false-value="'no'" style="margin-left: 0">Irregulares</md-checkbox>

                    </div>
                </div>


            </div>
        </md-card>
        <label class="card-header">VEHÍCULO</label>
        <md-card>
            <md-input-container style="width: 200px">
                <label>Tipo de Vehículo</label>
                <md-select ng-model="vehicleKey" name="vehicleId" required ng-change="route.vehicle_typeId = vehicleKey.split('-')[0]; route.vehicle_classId = vehicleKey.split('-')[1]">
                    <md-optgroup label="Clase 1">
                        <md-option ng-repeat="(key,vehicle) in filterVehicles(vehicles,1)" ng-value="key">{{vehicle.name}}</md-option>
                    </md-optgroup>
                    <md-optgroup label="Clase 2">
                        <md-option ng-repeat="(key,vehicle) in filterVehicles(vehicles,2)" ng-value="key">{{vehicle.name}}</md-option>
                    </md-optgroup>
                    <md-optgroup label="Clase 3">
                        <md-option ng-repeat="(key,vehicle) in filterVehicles(vehicles,3)" ng-value="key">{{vehicle.name}}</md-option>
                    </md-optgroup>
                    <md-optgroup label="Clase 4">
                        <md-option ng-repeat="(key,vehicle) in filterVehicles(vehicles,4)" ng-value="key">{{vehicle.name}}</md-option>
                    </md-optgroup>
                    <md-optgroup label="Clase 5">
                        <md-option ng-repeat="(key,vehicle) in filterVehicles(vehicles,5)" ng-value="key">{{vehicle.name}}</md-option>
                    </md-optgroup>
                    <md-optgroup label="Clase 6">
                        <md-option ng-repeat="(key,vehicle) in filterVehicles(vehicles,6)" ng-value="key">{{vehicle.name}}</md-option>
                    </md-optgroup>
                </md-select>
                <div class="hint-error" ng-style="routeForm.vehicleId.$invalid && routeForm.vehicleId.$touched?{'color':'red'}:''">Obligatorio</div>
                <div class="md-errors-spacer"></div>
            </md-input-container>

            <md-input-container style="width: 300px">
                <label>Antigüedad del Vehículo Permitida</label>
                <input type="number" min="0" ng-model="route.vehicle_antiquity" name="antiquity" maxlength="3">
                <div class="hint-error" ng-show="!routeForm.antiquity.$error.min" ng-style="routeForm.antiquity.$invalid && routeForm.antiquity.$touched?{'color':'red'}:''">Opcional, número máx. 3 dígitos</div>
                <div class="hint-error" style="color:red" ng-show="routeForm.antiquity.$error.min">Por favor, seleccione un valor mayor o igual que 0.</div>
            </md-input-container>

            <md-input-container ng-if="routeTypeEquals('private')">
                <label>Unidades óptimas para el servicio</label>
                <input type="text" ng-model="route.private_route.service_units" name="service_units" maxlength="100">
                <div class="hint-error" ng-style="routeForm.service_units.$invalid && routeForm.service_units.$touched?{'color':'red'}:''">Opcional, máx. 100 caracteres</div>
            </md-input-container>
        </md-card>
        <label  class="card-header">MAPAS</label>
        <md-card>
            <md-button ng-if="routeTypeEquals('route')" ng-click="addPolyline()" style="width: 200px" class="md-raised md-primary">Asignar Ruta</md-button>
            <md-button ng-if="!routeTypeEquals('route')" ng-click="addLoc()" style="width: 200px" class="md-raised md-primary">Asignar ubicación</md-button>
            <md-input-container>
                <label>Hipervínculo Google Maps</label>
                <input type="text" ng-model="route.link" name="link" required readonly>
                <div class="hint-error" ng-style="routeForm.link.$invalid && routeForm.link.$touched?{'color':'red'}:''">Obligatorio.</div>
            </md-input-container>
            <md-input-container>
                <label>Dimensionamiento</label>
                <input type="text" ng-model="route.sizing" name="sizing" required maxlength="50">
                <div class="hint-error" ng-style="routeForm.sizing.$invalid && routeForm.sizing.$touched?{'color':'red'}:''">Obligatorio, máx. 50 caracteres</div>
            </md-input-container>
        </md-card>
        <label class="card-header">HORARIO</label>
        <md-card>
            <div layout="row">
                <md-input-container style="width: 200px">
                    <label>Inicio</label>
                    <input type="text" ng-model="route.schedule_start" pattern="([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]" name="schedule_start"  maxlength="5">
                    <div class="hint-error" ng-style="routeForm.schedule_start.$invalid && routeForm.schedule_start.$touched?{'color':'red'}:''">Opcional, Formato 24 horas HH:MM</div>
                </md-input-container>
                <md-input-container style="width: 200px" flex-offset="5">
                    <label>Fin</label>
                    <input type="text" ng-model="route.schedule_end" pattern="([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]" name="schedule_end"  maxlength="5">
                    <div class="hint-error" ng-style="routeForm.schedule_end.$invalid && routeForm.schedule_end.$touched?{'color':'red'}:''">Opcional, Formato 24 horas HH:MM</div>
                </md-input-container>
            </div>
            <md-input-container style="width: 200px" ng-if="routeTypeEquals('route')">
                <label>Frecuencia</label>
                <input type="text" ng-model="route.concession_route.frequency" maxlength="100" name="frequency">
                <div class="hint-error" ng-style="routeForm.frequency.$invalid && routeForm.frequency.$touched?{'color':'red'}:''">Opcional, máx. 100 caracteres</div>
            </md-input-container>

            <md-input-container style="width: 200px" ng-if="routeTypeEquals('site')">
                <label>Frecuencia</label>
                <input type="text" ng-model="route.site.frequency" maxlength="100" name="frequency">
                <div class="hint-error" ng-style="routeForm.frequency.$invalid && routeForm.frequency.$touched?{'color':'red'}:''">Opcional, máx. 100 caracteres</div>
            </md-input-container>
        </md-card>
        <label class="card-header">TARIFAS</label>
        <md-card>


            <md-input-container ng-if="routeTypeEquals('route')">
                <label>Tarifa Mínima</label>
                <input type="number" min="0" step="any" ng-model="route.concession_route.min_rate" name="min_rate" maxlength="10" required>
                <div class="hint-error" ng-show="!routeForm.min_rate.$error.min" ng-style="routeForm.min_rate.$invalid && routeForm.min_rate.$touched?{'color':'red'}:''">Obligatorio, número máx. 10 dígitos</div>
                <div class="hint-error" style="color:red" ng-show="routeForm.min_rate.$error.min">Por favor, seleccione un valor mayor o igual que 0.</div>
                <!--<div ng-messages="routeForm.min_rate.$error" >-->
                <!--<div  ng-message="required">dsadadasd</div>-->
                <!--</div>-->
            </md-input-container>
            <md-input-container ng-if="routeTypeEquals('route')">
                <label>Tarifa Máxima</label>
                <input type="number" min="0" step="any" ng-model="route.concession_route.max_rate" name="max_rate" maxlength="10" required>
                <div class="hint-error" ng-show="!routeForm.max_rate.$error.min" ng-style="routeForm.max_rate.$invalid && routeForm.max_rate.$touched?{'color':'red'}:''">Obligatorio, número máx. 10 dígitos</div>
                <div class="hint-error" style="color:red" ng-show="routeForm.max_rate.$error.min">Por favor, seleccione un valor mayor o igual que 0.</div>
            </md-input-container>


            <md-input-container ng-if="routeTypeEquals('private')">
                <label>Tarifa</label>
                <input type="number" step="any" ng-model="route.private_route.rate" name="rate" maxlength="10" min="0" required>
                <div class="hint-error" ng-show="!routeForm.rate.$error.min" ng-style="routeForm.rate.$invalid && routeForm.rate.$touched?{'color':'red'}:''">Obligatorio, número máx. 10 dígitos</div>
                <div class="hint-error" style="color:red" ng-show="routeForm.rate.$error.min">Por favor, seleccione un valor mayor o igual que 0.</div>
            </md-input-container>


            <md-input-container ng-if="routeTypeEquals('site')">
                <label>Tarifa Mínima</label>
                <input type="number" min="0" step="any" ng-model="route.site.min_rate" name="min_rate" maxlength="10" required>
                <div class="hint-error" ng-show="!routeForm.min_rate.$error.min" ng-style="routeForm.min_rate.$invalid && routeForm.min_rate.$touched?{'color':'red'}:''">Obligatorio, número máx. 10 dígitos</div>
                <div class="hint-error" style="color:red" ng-show="routeForm.min_rate.$error.min">Por favor, seleccione un valor mayor o igual que 0.</div>
            </md-input-container>
            <md-input-container ng-if="routeTypeEquals('site')">
                <label>Tarifa Máxima</label>
                <input type="number" min="0" step="any" ng-model="route.site.max_rate" name="max_rate" maxlength="10" required>
                <div class="hint-error" ng-show="!routeForm.max_rate.$error.min" ng-style="routeForm.max_rate.$invalid && routeForm.max_rate.$touched?{'color':'red'}:''">Obligatorio, número máx. 10 dígitos</div>
                <div class="hint-error" style="color:red" ng-show="routeForm.max_rate.$error.min">Por favor, seleccione un valor mayor o igual que 0.</div>
            </md-input-container>


        </md-card>
        <label class="card-header" ng-if="!routeTypeEquals('site')">IMAGEN CORPORATIVA</label>
        <label class="card-header" ng-if="routeTypeEquals('site')">IMAGEN CROMÁTICA</label>
        <md-card>
            <div layout="row">
                <input style="display: none" id="file" type="file">
                <div layout="column">
                    <md-button style="width: 200px;height: 30px" ng-click="selectFile()" ng-init="route.image = ''" class="md-raised md-primary">Examinar</md-button>
                    <br>
                    <br>
                    <md-button style="width: 200px;height: 30px;color: red" ng-click="clearImg()" class="md-raised">Borrar</md-button>
                </div>
                <span flex></span>
                <img id="preview" style="width:200px; height:200px"/>
            </div>

        </md-card>
        <label class="card-header">OTROS</label>
        <md-card>
            <md-input-container>
                <label>Observaciones</label>
                <textarea type="text" ng-model="route.notes" rows="5" maxlength="250" md-maxlength="250"></textarea>
                <div class="hint-error">Opcional, máx. 250 caracteres</div>
            </md-input-container>
        </md-card>
    </form>
</div>
